<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP VUE</title>
    <link rel="stylesheet" href="assets/styles.css">
</head>
<body>

<div id="app">
    <!--<div :style="{backgroundColor: bgColor, color:textColor}">-->
    <div :style="styles">
        <label for="themeBlack">
            <input type="checkbox" :checked="themeBlack" @click="thogleTheme" name="themeBlack" id="themeBlack"> Tema Escuro
        </label>
        <h2>{{titleUp}}</h2>
        <p>Produtos: {{cart.length}}</p>
        <div v-for="(product, index) in products" :key="index">
            <product-detail
                    :product="product"
                    :productInCart="inCart(product)"
                    @dd-prod-cart="addCart"
            >
            </product-detail>
        </div>
    </div>

    <hr>
    <div>
        <div v-if="number === 2">DOIS</div>
        <div v-else-if="number === 5">CINCO</div>
        <div v-else>DESCONHECIDO</div>
    </div>
    <hr>

    <example-form>

    </example-form>

</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="app.js"></script>
<script src="components/ProductDetail.js"></script>
<script src="components/exempleForm.js"></script>
<script>
    app.mount('#app')
</script>
</body>
</html>
