<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APP VUE</title>
</head>
<body>

<div id="app">
    <h2>{{title}}</h2>
    <p>Produtos: {{cart.length}}</p>
    <div v-for="(product, index) in products" :key="index">
        <p>{{product.title}}</p>
        <img style="height: 200px" v-bind:src="product.image">
        <p><strong v-if="product.stars >= 5">{{product.stars}}</strong></p>
        <a href="#"
           @click.prevent="removeCart(product)"
           v-if="inCart(product)"
        >
            REMOVER
        </a>
        <a href="#"
           v-on:click.prevent="addCart(product)"
           v-else
        >
            Adicionar +
        </a>
    </div>

    <hr>
    <div>
        <div v-if="number === 2">DOIS</div>
        <div v-else-if="number === 5">CINCO</div>
        <div v-else>DESCONHECIDO</div>
    </div>


</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="app.js"></script>
</body>
</html>
